body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }

.join-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px; /* Отступы кнопки */
    background: linear-gradient(to right, #cb434e, #ffab0d); /* Градиентный фон кнопки */
    color: white; /* Цвет текста на кнопке */
    border: none; /* Убираем границу кнопки */
    border-radius: 5px; /* Скругление углов */
    cursor: pointer;
    font-size: 1em;
    font-family: "Cambria Bold", sans-serif; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Добавляем тень */
}

@media screen and (max-width: 767px) {
    .join-button {
        bottom: 20px; /* Прижимаем кнопку к нижнему краю экрана на мобильных устройствах */
        top: auto; /* Отменяем верхний отступ для кнопки */
    }
}
.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: white; /* Белый фон контейнера */
}

.container h1 {
    position: absolute;
    top: 20px; /* Отступ от верхнего края */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 1.6em;
    z-index: 1;
    font-family: "Cambria Bold", sans-serif; 
    color: transparent; /* Скрываем текст */
}

.container h1::after {
    content: attr(data-text); /* Значение атрибута data-text в качестве контента псевдоэлемента */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: transparent; /* Скрываем текст */
    background: linear-gradient(to right, #cb434e, #ffab0d); /* Градиентный фон для текста */
    -webkit-background-clip: text; /* Определение области фона для текста */
    background-clip: text; /* Определение области фона для текста */
    z-index: -1; /* Помещаем градиентный текст под основным текстом */
}

  
  .container img {
    width: 90%;
    height: auto; /* Автоматическая высота для сохранения пропорций */
    display: block;
    margin-top: 150px; /* Отступ от заголовка */
  }
  
